body {
    font-family: "Quicksand";
    font-style: normal;
}

.header {
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    letter-spacing: 0.64px;
}

.header-left-wrapper {
    display: flex;
    align-items: center;
    gap: 44px;
}

.select-button {
    display: flex;
    padding: 10px 28px 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #0F8277;
    border: none;

    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */

    cursor: pointer;
    position: relative;
}

.select-button:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 14px;
    background-image: url(../images/Frame1.svg);
    background-position: center;
    right: 13px;
    
    z-index: 1;
}

.dropdown {
    display: flex;
    width: 384px;
    height: 558px;
    padding: 16px 12px 0px 12px;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    gap: 40px;
    position: absolute;
    top: 43px;
    z-index: 2;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
}

.select-button:hover + .dropdown-menu {
  display: block;
}


.dropdown a h2 {
    display: none;
}

.dropdown a:hover {
    display: block;
}

.dropdown h2:hover {
    display: block;
}

.dropdown:last-of-type {
    margin-bottom: 0;
}


.dropdown a {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.dropdown h2 {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.dropdown hr {
    width: 100%;
}

.dropdown-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.dropdown-inside-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.dropdown-inside-2-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.search-form {
    position: relative;
    display: inline-block;
  }

.search-form input[type="search"] {
    width: 330px; 
    height: 36px;
    padding-left: 12px;
    border-radius: 4px;
    border: 1px solid #5C5C5C;

    color: #5C5C5C;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.search-form input:focus {
    outline: none;
}

.search-form button[type="submit"] {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: 1px solid #5C5C5C;
    background: #0F8277;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.right-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 104px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 48px;
}
.nav-menu a {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.log-sign {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.login {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    

    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}


.sign {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #0F8277;
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.section-1 {
    width: 1296px;
    height: 602px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #DBF3ED;
    position: relative;
    margin-top: 32.5px;
   
}

.info-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-top: 170px;
    margin-left: 110px;
}

.info-wrapper h1 {
    color: #000;
   
    font-size: 56px;
 
    font-weight: 700;
    line-height: 120%; /* 67.2px */
}
.info-wrapper p {
    width: 482px;
    color: #000;
    
    font-size: 22px;
    
    font-weight: 600;
    line-height: 120%; /* 26.4px */
}

.info-btns {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.start-btn {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    background: #0F8277;
    border: none;

   
}

.start-btn a {
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.learn-btn {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid #0F8277;
    cursor: pointer;
}

.learn-btn a {
    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.img-holder {
width: 800px;
height: 533px;
flex-shrink: 0;
position: absolute;
top: 39px;
left: 575px;
background-image: url(../images/hero-img.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

.partners_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.section-3 {
    width: 100%;
    background-color: #DBF3ED;
    margin-top: 80px;
    
}

.partners-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 80px 36px;
    
}

.partners-wrapper h3 {
    width: 871px;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%; /* 48px */
}

.business {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 72px;
    margin-top: 80px;
}

.business-content {
    display: flex;
    width: 636px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding-top: 67.5px;
    padding-bottom: 67.5px;

}

.business-content h3 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%; /* 48px */
}

.business-content p {
    width: 568px;
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 26.4px */
}

.business-content button {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #0F8277;
    border: none;
}

.business-content button a {
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.business-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 176px);
    grid-template-rows: repeat(3, 116px);
    gap: 10px;

}

.business-gallery-wrapper {
    width: 588px;
}

.card1 {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
   
}

.card2 {
    border-bottom: 1px solid #BABABA;
   
}

.card3 {
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
  
}

.card4 {
    border-right: 1px solid #BABABA;
 
}

.card5 {
    border: 0px solid #BABABA;
 
}

.card6 {
    border-left: 1px solid #BABABA;

}

.card7 {
    border-top: 1px solid #BABABA;
    border-right: 1px solid #BABABA;

}

.card8 {
    border-top: 1px solid #BABABA;
 
}

.card9 {
    border-top: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

.section-4{
    width: 100%;
    background-color: #DBF3ED;
    margin-top: 80px;
    
}


.price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 80px 36px 100px 36px;
    
}

.price-wrapper h3 {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
}

.price-cards-wrapper {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 24px;
}

.plan {
    /* position: relative; */
    display: flex;
    width: 304px;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    align-self: stretch;

    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}



.plan-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 98px;
}

.plan-content:after {
    content: '';
    position: absolute;
    display: block;
    width: 304px;
    height: 2px;
    border-radius: 80px;
    background: #0F8277;
    top: 334px;
    left: 0;
}

.plan-title {
width: 304px;
height: 286px;
}

.plan-title h4 {
    width: 304px;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
}

.plan-title .Learn {
padding-top: 27px;
color: #000;
text-align: center;
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
}

.price {
    display: flex;
    width: 304px;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 27px;
}

.price h3 {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
}

.get-btn-cont {
    padding-top: 75px;
    padding-left: 92px; 
}

.get-btn {
    display: inline-flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #0F8277;

    color: #F6FDFF;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;    
}

.line {
    width: 100%;
    height: 2px;
    align-self: stretch;
    border-radius: 80px;
    background: #0F8277;
    border: none;
    margin: 0;
}

.list {
    display: flex;
    width: 304px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-bottom: 110px;
}

.list-item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.bulit {
    display: flex;
    width: 16px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 500px;
    background: #0F8277;
}

.check-text {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}


/*  */
.plan-2 {
    display: flex;
    width: 304px;
    padding: 56px 56px 0 56px;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    align-self: stretch;

    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #0F8277;
}

.plan-content-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 98px;
}

.plan-content-2:after {
    content: '';
    position: absolute;
    display: block;
    width: 304px;
    height: 2px;
    border-radius: 80px;
    border-radius: 80px;
    background: #FFF;
    top: 334px;
    left: 0;
}

.plan-title-2 {
    display: flex;
    width: 304px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.plan-title-2 h4 {
    width: 304px;
    color: #FFF;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
}

.Learn-2 {
    color: #FFF;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.price-2 {
    display: flex;
    width: 304px;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}

.price-2 h3 {
    color: #FFF;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
}

.mo-2 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    text-transform: uppercase;
}



.get-btn-2 {
    display: inline-flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid #FFF;
    background: #0F8277;

    color: #F6FDFF;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;    
}

.line-2 {
    width: 100%;
    height: 2px;
    align-self: stretch;
    border-radius: 80px;
    background: #FFF;
    border: none;
    margin: 0;
}

.list-2 {
    display: flex;
    width: 304px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    
}

.list-item-2 {
   
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.bulit-2 {
    width: 16px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 500px;
    background: #FFF;
}

.check-text-2 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.get-btn-cont-3 {
    display: inline-flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    padding-top: 46px;
    padding-left: 93px;
}

.section-5 {
margin-top: 80px;
}

.students-block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.students-block h3 {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.students-wrapper {
    width: 100%;
    display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   
   gap: 24px;
   height: 100%;
}

.student-card-a .a {
    width: 306px;
    height: 219px;
}

.student-card-b {
    width: 636px;
    height: 445px;
    grid-row: 1 / 3;
    grid-column: 2 / 4;
    
 }

.b {
    width: 636px;
    height: 445px;
 }



.form {
    display: flex;
    width: 565px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    background: #DBF3ED;
}


.form-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
   
}

.form-info h3 {
    display: block;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
}

.form-info p {
    width: 505px;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.input-field {
    display: flex;
    width: 505px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.text-field__inp {
    width: 100%;
    height: 24px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    color: #8E8E8E;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.text-field__inp:focus {
    color: #1f1e1e;
    outline: none; 
}

textarea { 
    resize: none; 
    width: 100%;
    height: 80px;
    display: flex;
    padding: 12px;
    align-items: flex-start;

    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;

    color: #8E8E8E;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
} 

textarea:focus {
    color: #1f1e1e;
    outline: none; 
}

.send {
    display: flex;
    width: 196px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background: #0F8277;
    cursor: pointer;
    color: #F6FDFF;
    text-align: center;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    border: none;
}

.footer-left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer-left-wrapper p {
    width: 306px;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

 .footer-right-wrapper {
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
    
} 

.social-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.social-icon-1 {
    width: 32px;
    height: 32px;
    background-image: url(../images/inst.svg);
}

.social-icon-2 {
    width: 32px;
    height: 32px;
    background-image: url(../images/fac.svg);
}

.social-icon-3 {
    width: 32px;
    height: 32px;
    background-image: url(../images/in.svg);
}

.footer-right-wrapper p {
    width: 306px;
    color: #000;
    text-align: right;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.footer-info {
    
display: flex;
padding-top: 64px;
padding-bottom: 64px;
align-items: flex-start;
gap: 684px;
}